body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.header {
  position: absolute;
  display: flex;
  width: 100%;
  padding: 25px 40px;
  justify-content: space-between;
  align-items: center;
}

.background {
  width: 100%;
  height: 840px;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.30) 0%, rgba(0, 0, 0, 0.30) 100%), url(/home/ari/repos/Work/practice/react-practise/react-practise/src/assets/imgs/background.jpg) lightgray 50% / cover no-repeat;
}

.Logo {
  width: 44px;
  height: 20px;
  flex-shrink: 0;
  fill: #FFF;
}
.link_flexbox {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.headertext {
  text-decoration: none;
  color: #FFF;
  font-family: Urbanist;
  font-size: 12px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  text-transform: uppercase;
}

.smallherotext {
  color: #FFF;
  text-align: center;
  font-family: Urbanist;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 18px; /* 128.571% */
  text-transform: uppercase;
}

.bigherotext {
  align-self: stretch;
  color: #FFF;
  text-align: center;
  font-family: Urbanist;
  margin: 0px;
  font-size: 54px;
  font-style: normal;
  font-weight: 500;
  line-height: 58px; /* 107.407% */
}
  
.herowrapper {    
  position: absolute;
  left: 608px;
  top: 313px;

  display: flex;
  width: 700px;
  flex-direction: column;
  align-items: center;
  gap: 30px;

}

.herotextcontainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap:5px;
  align-self: stretch;
}

.newsletterwrapper {
  display: flex;
  align-items: flex-start;
  gap: 10px;
}

.heroinput {
  border-radius: 50px;
  border: 1px solid var(--Divider-Color, #D9D9D9);
  background: #FFF;

  display: flex;
  width: 307px;
  padding: 12px 20px;
  align-items: center;
}

.herobutton {
  color: #FFF;
  display: flex;
  padding: 12px 46px;
  align-items: flex-start;
  font-family: Urbanist;

  border-radius: 50px;
  background: #0094FF;
}